include ../_include/_variables
doctype html
html(dir='ltr', lang="vn", itemscope, itemtype="http://schema.org/WebSite", prefix="og: http://ogp.me/ns#", class="no-js")
  head
    include _seo.pug
    meta(charset="UTF-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='format-detection', content='telephone=no')
    meta(name='msapplication-tap-highlight', content='no')
    //- <!-- ////////////// Mobile title color ////////////// -->
    meta(name='theme-color', content="#000000")
    meta(name='msapplication-navbutton-color', content="#000000")
    meta(name='apple-mobile-web-app-status-bar-style', content="#000000")

    //- 
    title #{title}
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=vietnamese" rel="stylesheet")
    link(href="google8fab52fbc9b8f306.html")


    //- <!-- ////////////// CSS Include ////////////// -->
    include ../css/css.pug


    //- <!-- ////////////// FAVICON ////////////// -->


    link(rel='apple-touch-icon' sizes='57x57' href='./favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='./favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='./favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='./favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='./favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='./favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='./favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='./favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='./favicon/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='./favicon/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='./favicon/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./favicon/favicon-16x16.png')
    link(rel='manifest' href='./favicon/manifest.json')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='./favicon/ms-icon-144x144.png')
    meta(name='theme-color' content='#ffffff' <='' body='')

    //- link(rel='apple-touch-icon', sizes='180x180', href='./favicon/apple-touch-icon.png')
    //- link(rel='icon', type='image/png', href='./favicon/favicon-32x32.png', sizes='32x32')
    //- link(rel='icon', type='image/png', href='./favicon/favicon-16x16.png', sizes='16x16')
    //- link(rel='manifest', href='./favicon/manifest.json')
    //- link(rel='mask-icon', href='./favicon/safari-pinned-tab.svg', color='#5bbad5')
    //- link(rel='shortcut icon', href='./favicon/favicon.ico')
    //- meta(name='msapplication-TileColor', content="#000000")
    //- meta(name='msapplication-TileImage', content='./favicon/mstile-144x144.png')
    //- meta(name='msapplication-config', content='./favicon/browserconfig.xml')
    //- meta(name='theme-color', content='#ffffff')
  body
    include header.pug
    main
      block content
    include footer.pug
    include ../script/script.pug